.experience_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 50vh;
}

.experience_mobile {
    display: none;
    position: relative;
    padding-left: 2em;
    min-height: 100%;
    flex-direction: column;
    gap: 1em;
}

.experience_mobile_timeline {
    content: '';
    position: absolute;
    height: 100%;
    margin-left: -2rem;
    border-left: 4px solid var(--accent);
}

.experience_info {
    position: relative;
    background-color: var(--dshade10);
    width: 100%;
    margin: 0 1em 0 1em;
    padding: 2em;
    border-radius: 20px;
    min-height: 50vh;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.experience_mobile_container {
    position: relative;
}

.experience_mobile_point {
    position: absolute;
    left: -2.5rem;
    top: 10%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: var(--secondary);
    border: 3px solid var(--accent);
    z-index: 1;
}

.experience_list {
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    gap: 1em;
    position: relative;
    width: 35%;
    height: 110%;

}

.experience_list::before {
    content: '';
    position: absolute;
    height: 50vh;
    margin-left: 1.5em;
    border-left: 4px solid var(--accent);
}
/* 
@media only screen and (max-width: 425px){
    .experience_mobile_point{
        left: -3.5em;
    }
    .experience_mobile_timeline{
        margin-left: -3em;
    }
} */