.experience_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* overflow: auto; */
    height: 100%;
    /* background-color: antiquewhite; */
}

.experience_info{
    background-color:salmon;
    width:65%;
    margin: 0 1em 0 1em;
    /* line-height: 0; */
    padding: 2em;
    border-radius: 20px;
    height: 100%;
}


.experience_list{
    position: relative;
    width: 35%;
    height: 100%;
    /* background-color: green; */
    /* border: 1px solid green; */
}

.experience_list::before{
    content: '';
    position: absolute;
    height: 100%;
    margin-left: 1.5em;
    border-left: 4px solid grey;
}





