@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Tilt+Prism&display=swap');
:root{
    --background: #0b0c10;
    --foreground: #1F2833;
    --text: #C5C6C7;
    --element: #fc8466;
    --elementhighlight: #6699FF;
    --elementdark: #3268D5;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Roboto Slab', san-serif;    
}

.end{
    background-color: black;
}