@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Tilt+Prism&display=swap');
:root{
    --blue: #011640;
    --darkblue: #010D26;
    --grey: #242526;
    --lightorange: #F26938;
    --orange: #F2522E;
}

body {
    background-color: var(--grey);
    color: lightgrey;
    font-family: 'Roboto Slab', serif;    
}

.end{
    background-color: black;
}