.navbar{
    display:flex;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    top: 0;
    padding-left: 2%;
    padding-right: 2%;
    color:var(--text);
    background-color: var(--background);
    z-index: 20;
}

.navbar_title{
    line-height:0%;
}

.navbar_menu{
    display: flex;
    justify-content: end;
    list-style: none;
    gap: 2rem;
}

.navbar_link {
    text-decoration: none;
    color: var(--text);
}

.navbar_link:hover {
    color: var(--accent);
}