.section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 5em;
    
}

.subsection {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
    min-height: 50vh;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5em 10em 5em 10em;
    background-color: var(--lshade5);
}

