.section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 5em 1em 5em 1em;
    /* padding: 5em; */
    min-height: 50vh;
}

.section:nth-child(2n+1) {
    background-color: var(--lshade5);
}

@media all and (min-width:1600px){
    .section{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}



