.timeline_panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .2em 1em .2em 1em;
    align-items: flex-end;
    width: 100%;
    background-color: var(--lshade5);
    transition: all 0.5s ease-in-out;
    z-index: 0;
    min-height: 100%;
}

.timeline_hover{
    content: '';
	position: absolute;	
	transition: inherit;
	z-index: 1;
	top: 0;
	width: 0;
	height: 100%;
	left: calc(3em);
    background-color: var(--lshade15);
	border-bottom: 3px solid var(--accent);
}

.timeline_panel:hover .timeline_hover, .active .timeline_hover{
    width: calc(calc(100% - 3em));
}

.active .timeline_hover{
    background-color: var(--accent);
}


.timeline_panel:before {
    content: '';
    background: inherit;
    width: 2em;
    height: 2px;
    display: block;
    position: absolute;
    top: 37%;
    left: 1em;
    z-index: 0;
    border-bottom: inherit;
    border-left: inherit;
}

.timeline_title {
    /* font-size: 1.5em; */
    z-index: 10;
}

.timeline_text {
    /* font-size: 1em; */
    z-index: 4;
}

.experience_point{
    position: relative;
    padding-left: 3em;
}

.bullet_point{
    position: absolute;
    left: 16px;
    top: 25%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    vertical-align:middle;
    background-color: var(--secondary);
    border: 3px solid var(--accent);
    z-index: 1;
}
